/*font*/
@font-face {
    src: url('fonts/Shapiro-95SuperWide.ttf');
    font-family: 'shapiro-95';
}
@font-face {
    src: url('fonts/Shapiro-97AirExtd.ttf');
    font-family: 'shapiro-97';
}
/*colors*/
.red{
    color:#f81a1a;
}
.blue{
    color:#1626bd;
}
/*text*/
.red-text{
    font-family: 'shapiro-95';
    font-size:60px;
    margin-top: 300px;
}
.description{
    font-family: 'shapiro-95';
    font-size:17px;
}
.paragraph{
    font-family: 'shapiro-95';
    margin-top: 200px;
    margin-left: 550px;
}
.title-97{
    font-family: 'shapiro-97';
    font-size: 60px;
    position: center;
}
.title-2{
    font-family: 'shapiro-95';
    font-size:40px;
    margin-top: 50px;
}
.subtitle{
    font-family: 'shapiro-95';
    font-size:20px;
}
.works{
    color:#1626bd;
}

/*buttons*/
#btn-container{
    margin-top: 50px;
    margin-left: 550px;
}
.btn-blue{
    font-family: 'shapiro-95';
    font-size:17px;
    color:#1626bd;
    border:2px solid black;
    border-color:#1626bd;
    background-color: white;
    cursor: pointer;
    padding: 14px 28px;
}
.btn-blue:hover{
    background-color: #1626bd;
    color:#f81a1a;
}
.btn-red{
    font-family: 'shapiro-95';
    font-size:17px;
    color:black;
    border:0px;
    background-color: #f81a1a;
    cursor: pointer;
    padding: 14px 28px;
}
/*videos*/
#showcase-container{
   margin-left:150px; 
   margin-right:150px;
}
/*images
body {
  background-image: url("/assets/img/bio.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: width;
  background-position:bottom;
}*/
.artist-photo{
    width: 350px;
    margin-left: 390px;
    margin-right:30px;
}

/*containers*/
#bio{
    margin-right:250px;
    background-image: url("");
    background-size: width;
    background-repeat: no-repeat;
}
.text-container{
   margin-left:200px; 
   position: fixed;
}
#education{
    display:block;
}
#education-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#work-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.column {
  float: left;
  width: 10%;
  padding: 10px;
}

.software {
  content: "";
  clear: both;
  display: table;
  margin-left:20px;
  margin-right:20px;
  float:center;
}
.block{
    display:block;
    height: 100%;
}

/*slider*/
.ba-slider {
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
 
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}
 
.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
 
    background: #ffb800; /* @orange */
    border:1px solid #e6a600; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3), 
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/ 
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}