# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/postmyvp/gulp"
PassengerBaseURI "/gulp"
PassengerNodejs "/home/postmyvp/nodevenv/gulp/10/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
